h1{
    color: blue;
    background-color: aqua;
}
h2{
    background-color: aqua;
}
h3{
    background-color: green;
    color: white;
    border: 25px solid gold;
    padding: 15px;
}
h4{
    color: white;
    padding: 10px;
    background-color: royalblue;
}
h4:hover{
    color: black;
    background-color: goldenrod;
}

p{
    background-color: magenta;
    
}
span{
    background-color: brown;
    color: white;
}
a{
    margin-right: 10px;
   
}
.learnig{
   font-size: 20px;
   margin-left: 20%;
}
li:first-child{
    color: blue;
}
li:last-child{
    color: red;
}
li:nth-child(2n){
    color: magenta;
}

.block-element div{
    background-color: blueviolet;
    width: 300px;
    height: 150px;
    color: white;
    padding: 10px 0;
    margin: 15PX;
}
.div-class{
    display: flex;
    margin-left: 15%;
}
.div-class h2{
    display: inline-block
}
.middel:focus{
    color: blue;
    border: 10px;
    font-weight: 700;
    border-color: red;
}
a:visited{
    color: rgb(184, 111, 15);
}
h5::before{
    content: 'Hello ';
    color: blue;
}
h5::after{
    content: ' end';
    font-size: 24px;
}
.swimming{
    position: relative;
}
.swimming img{
    width: 300px;
    height: 300px;
}
#sky{
    position: relative;
    left: 100px;
    z-index: 20;
}
#shonkor{
    position: fixed;
    right: 0px;
    top: 0px;
}
